Steve Crawford      <crawfordsm@gmail.com>
Matthew Craig       <mattwcraig@gmail.com>
Hans Moritz Günther <hgunther@mit.edu> <moritz.guenther@gmx.de>
Hans Moritz Günther <hgunther@mit.edu>
Anthony Horton      <anthony.horton@aao.gov.au>
Forrest Gasdia      <EP-Guy@users.noreply.github.com>
Nathan Walker       <walkerna22@gmail.com>
Erik M. Bray        <erik.m.bray@gmail.com> <embray@stsci.edu>
Erik M. Bray        <erik.m.bray@gmail.com> <erik.bray@lri.fr>
Erik M. Bray        <erik.m.bray@gmail.com> Erik Bray <erik.m.bray@gmail.com>
James McCormac      <jmccormac001@gmail.com>
Larry Bradley       <larry.bradley@gmail.com>
Jennifer Karr       <jkarr@asiaa.sinica.edu.tw> <karr@l-145-118-237-197.leidenuniv.nl>
Javier Blosco       <atreo1@hotmail.com>
Punyaslok Pattnaik  <punyaslokpattnaik@yahoo.co.in>
Connor Stotts       <stottsco@mnstate.edu> <me@localhost.localdomain>
Connor Stotts       <stottsco@mnstate.edu>
JVSN Reddy          <janga1997@gmail.com>
Yoonsoo P. Bach     <dbstn95@gmail.com>
Jaime A. Alvarado-Montes <jaime-andres.alvarado-montes@students.mq.edu.au>
Julio C. N. Campagnolo   <juliocampagnolo@gmail.com>
