include CITATION.rst
include CHANGES.rst
include CODE_OF_CONDUCT.rst
include LICENSE.rst
include README.rst
include pyproject.toml

recursive-include ccdproc *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
