name: CI

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    # run every Monday at 6am UTC
    - cron: '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  SETUP_XVFB: True  # avoid issues if mpl tries to open a GUI window
  TOXARGS: '-v'

jobs:
  ci-tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    if: "!(contains(github.event.head_commit.message, '[skip ci]') || contains(github.event.head_commit.message, '[ci skip]'))"
    strategy:
      matrix:
        include:
          - name: 'ubuntu-py311-oldestdeps'
            os: ubuntu-latest
            python: '3.11'
            # Test the oldest supported dependencies on the oldest supported Python
            tox_env: 'py311-test-oldestdeps'

          # Do not include bottleneck in this coverage test. By not including
          # it we get a better measure of how we are covered when using the
          # array API, which bottleneck short-circuits.
          - name: 'ubuntu-py312-coverage'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-cov'

          # Test non-numpy array libraries
          - name: 'ubuntu-py313-jax'
            os: ubuntu-latest
            python: '3.13'
            tox_env: 'py313-jax'

          # Move bottleneck test a test without coverage
          - name: 'ubuntu-py312-bottleneck'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-numpy126'

          - name: 'macos-py312-dask'
            os: macos-latest
            python: '3.12'
            tox_env: 'py312-alldeps-dask'

          - name: 'windows-py312'
            os: windows-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps'

          - name: 'ubuntu-ruff'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'codestyle'

          - name: 'ubuntu-build_docs'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'build_docs'

          - name: 'ubuntu-py313-test-alldeps-devdeps'
            os: ubuntu-latest
            python: '3.13'
            tox_env: 'py313-test-alldeps-devdeps'

    steps:
    - name: Check out repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox wheel
    - name: Install graphviz dependency
      if: "endsWith(matrix.tox_env, 'build_docs')"
      run: sudo apt-get -y install graphviz
    - name: Print Python env
      run: |
        python --version
        python -m pip list
    - name: Run tests
      if: "! matrix.use_remote_data"
      run: |
        tox -e ${{ matrix.tox_env }} -- ${{ matrix.toxposargs }}
    # - name: Run tests with remote data
    #   if: "matrix.use_remote_data"
    #   run: tox -e ${{ matrix.tox_env }} -- --remote-data=any
    - name: Upload coverage to codecov
      if: "endsWith(matrix.tox_env, '-cov')"
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.5.1
